<form name="loginForm" class="form-horizontal" novalidate>
	<h2>LOTG Login</h2>
	<input class="form-control" type="email" placeholder="Enter Email" required ng-model="creds.email">
	<br>
	<input class="form-control" type="password" placeholder="Enter Password" required ng-model="creds.password">
	<br>
	<button class="btn btn-primary pull-right" type="submit" ng-click="login.login(creds,loginForm)">Login</button>
	<button class="btn btn-primary pull-left"  type="button" ng-click="login.loginForm = false">Sign Up</button>
</form>