<div class="col-md-12" style="margin-bottom: 70px;">

	<h1>Store </h1>
	
	<div class="form-horizontal">
		<div class="form-group">
			<div class="col-md-8">
				<input class="form-control" placeholder="Search..." ng-model="search">		
			</div>
			
			<div class="col-md-2">
<!-- 			<label class="control-label">Order: </label> -->
				<select class="form-control" ng-model="order" ng-init="order = 'heroName'">
				<option value="heroName">A-Z</option>
				<option value="quantity">Owned</option>
				<option value="soulPoints">Soul Points</option>
<!-- 				<option>Popularity</option> -->
				</select>
			</div>
			
			<div style="text-align: left !important" class="col-md-2">
				<label  class="control-label">SP: {{store.points}}</label>
			</div>
		
		</div>
	</div>
	
	
<div class="row">

	<div  class="col-md-2" ng-repeat="item in store.heroes | orderBy: order | filter:search">
		<div class="panel panel-default">
			<div class="panel-body">			
			
			<label>{{item.heroName}}</label>
			<hr>
			<label>SP : {{item.soulPoints }}</label>
			<br>
			<label>Owned : {{item.quantity| magicDashFilter:0}} </label>
			<label class="pull-right">Max : {{item.max}}</label>
			
			<br>
			<button class="btn btn-block btn-primary" ng-disabled="! main.loginService.isLoggedIn() || item.soulPoints > store.points || item.quantity >= item.max" ng-click="store.buyHero(item)">Buy</button>
			</div>
		
		</div>
	</div>
</div>	
		

</div>


<!-- <div class="col-md-4"> -->
<!-- <h1>Hero Info</h1> -->
<!-- <div class="panel panel-default"> -->
<!-- 		<div class="panel-body"> -->

<!-- 		Hero Name -->
<!-- 		<br> -->
<!-- 		Soul Points :  -->
<!-- 		<br> -->
<!-- 		Owned : 0 -->
<!-- 		<br> -->
			
<!-- 	</div> -->
<!-- 	</div> -->
<!-- <div class="well"> -->

<!-- </div> -->
<!-- </div> -->