
<div class="col-md-3">
<h3>Field Descriptions</h3>
<label>Name:</label> The name of the hero
<br>
<label>Description:</label> The Hero summary / Lore
<br>
<label>God:</label> The name of the god that Hero follows
<br>
<label>Attack:</label> How many attack dice the Hero has
<br>
<label>Defense:</label> How many defense dice the Hero has
<br>
<label>Move:</label> How far Hero can move each turn
<br>
<label>Range:</label> How far the Hero can attack from
<br>
<label>Soul Point:</label> How many points it cost to summon the hero
<br>
<label>Health:</label> How many hits the hero can take before death
<br>
<label>Size: </label> How big the hero is
<br>
<label>Height: </label> How tall the hero is


<br>
<label>Personality: </label> The Hero's personality
<br>
<label>Species: </label> The Hero's species
 

</div>
 
 <div class="col-md-7" style="margin-bottom: 70px;">
 
 
 	<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Edit {{heroEdit.h.name}}</h2>
	</div>
 
 	<div class="panel-body">
 	
 	<div class="form-horizontal">
 	
 	
 	
 	
 	<div class="form-group">
	 	<label class="control-label col-md-3">Name</label>
	 	<div class="col-md-9" >
	 		<input class="form-control" ng-model="heroEdit.h.name">
	 	</div>
 	</div>
 	<div class="form-group">
	 	
	 	<label class="control-label col-md-3">Description</label>
	 	<div class="col-md-9" >
	 		<textarea rows="3" class="form-control" ng-model="heroEdit.h.description"></textarea>
	 	</div>
 	</div>
 	
 	
	<!--  	row 3 -->
 	<div class="form-group">
 	
 		<label class="control-label col-md-3">God / Faction</label>
 		<div class="col-md-3">
	 		<select class="form-control" ng-model="heroEdit.h.godId" ng-options="item.id as item.name for item in main.ls.gods">
	 			<option></option> 			
	 		</select> 	
 		</div>
 		
 		<label class="control-label col-md-3">Health</label>
	 	<div class="col-md-3" >
	 		<input class="form-control" type="number" ng-model="heroEdit.h.health">
	 	</div>
 		
		
 	</div>
 	<!-- end row 3 -->
 	
 	<!--  	row 4 -->
 	<div class="form-group">
 	<label class="control-label col-md-3">Species</label>
 		<div class="col-md-3">
	 		<select class="form-control" ng-model="heroEdit.h.speciesId" ng-options="item.id as item.name for item in main.ls.species">
	 			<option></option> 			
	 		</select> 	
 		</div>
 	
 		<label class="control-label col-md-3">Attack</label>
	 	<div class="col-md-3" >
	 		<input class="form-control" type="number" ng-model="heroEdit.h.attack">
	 	</div>
 		
 	</div>
 	<!--  end row 4 -->
 	
 	
 	<!--  	row 5 -->
 	<div class="form-group">
	 	
	 	<label class="control-label col-md-3">Personality</label>
 		<div class="col-md-3">
	 		<select class="form-control" ng-model="heroEdit.h.personalityId" ng-options="item.id as item.name for item in main.ls.personality">
	 			<option></option> 			
	 		</select> 	
 		</div>
 		
	 	
	 	<label class="control-label col-md-3">Defense</label>
	 	<div class="col-md-3" >
	 		<input class="form-control" type="number" ng-model="heroEdit.h.defense">
	 	</div>
 	</div>
 	 	<!-- end row 5 -->
 	
 	<!--  	row 6 -->

 	<div class="form-group">
 	
 	
		<label class="control-label col-md-3">Size</label>
 		<div class="col-md-3">
	 		<select class="form-control" ng-model="heroEdit.h.sizeId" ng-options="item.id as item.name for item in main.ls.size">
	 			<option></option> 			
	 		</select> 	
 		</div>
 		
 		
	 	
	 	<label class="control-label col-md-3">Range</label>
	 	<div class="col-md-3" >
	 		<input class="form-control" type="number" ng-model="heroEdit.h.range">
	 	</div> 		
 		
 	</div>
 	 	<!-- end row 6 -->
 	
 	 	<!-- row 7 -->
 	<div class="form-group">
		<label class="control-label col-md-3">Height</label>
 		<div class="col-md-3 " >
	 		<input class="form-control" type="number" ng-model="heroEdit.h.height">
	 	</div>
	 	
	 	<label class="control-label col-md-3">Move</label>
	 	<div class="col-md-3" >
	 		<input class="form-control" type="number" ng-model="heroEdit.h.move">
	 	</div>
	 	
 	</div>
 	
	 	
 	
 	<!-- end row 7 -->
 	
 	<!--  	row 8 -->
 	
 	<div class="form-group">
	 	<label class="control-label col-md-3">Soul points</label>
	 	<div class="col-md-3" >
	 		<input class="form-control" type="number" ng-model="heroEdit.h.points">
	 	</div>
	 	
	 	
	 	
 	</div>
 	
 	 <!-- end row 8 -->
 	

 	
 	<div class="form-group">
 		<div class="col-md-12">
 			<button class="btn btn-success pull-right" ng-click="heroEdit.addPower({})">Power <span class="glyphicon glyphicon-plus" ></span></button>
 		</div>
 	</div>
 	<div class="form-group" ng-repeat="power in heroEdit.h.powers">
<!-- 	 	<label class="control-label col-md-3">power.name</label> -->
	 	<div class="col-md-3">
	 		<input class="form-control" ng-model="power.name">
	 	</div>
	 	<div class="col-md-7" >
	 		<textarea rows="2" class="form-control" ng-model="power.description"></textarea>
	 	</div>
	 	<div class="col-md-2">
	 		<button class="btn btn-danger" ng-click="heroEdit.removePower(power)"> <span class="glyphicon glyphicon-minus" ></span></button>
	 	</div>
	 	
 	</div>
 	
 	
 	
 	
 	<div class="form-group">
 		<div class="col-md-6">
 			<button class="btn btn-danger pull-left" ng-click="heroEdit.deleteHero()">Delete</button> 	
 		</div>
 		<div class="col-md-6">
	 		<button class="btn btn-primary pull-right" ng-click="heroEdit.saveHero()">Save</button>
 		</div>
 	</div>
 	
	 	
 	</div>
 	
 	</div>
 
 </div>
 </div>
 
<!--  <div class="col-md-4"> -->
<!--  <pre>{{heroEdit.h |json}}</pre> -->
<!--  </div> -->
