<h1 class="text-center">Look at all these Heroes!</h1>
<h3 class="text-center"><a href="#/hero/edit">Create New Hero</a></h3>

<div class="container">
		<div class="panel panel-default" ng-repeat="item in heroList.list | orderBy:name track by item.id" ng-init="item.expanded = false" >
			<div ng-if="item.expanded !== true" class="panel-body">			
			<h3><a href="" ng-click="item.expanded = !item.expanded">{{item.name}} {{item.id}}</a></h3>			
			</div>
			
			
			<div ng-if="item.expanded === true" class="panel-body">
			<h3><a href="" ng-click="item.expanded = !item.expanded">{{item.name}} {{item.id}}</a>			
			</h3>
			<div class="row">
				<div class="col-md-5">
					<img src="">
					<p>{{item.description}}</p>
				</div>
					
				<div class="col-md-3">				
					<h3>Statistics</h3>					
					<label>Health:</label>
					{{item.health}}
					<br>
					<label>Range: </label>
					{{item.range}}
					<br>
					<label>Attack:</label>
					{{item.attack}}
					<br>
					<label>Defense</label>
					{{item.defense}}		
					<br>
					<label>Move</label>
					{{item.move}}					
					<br>
					<label>Points</label>
					{{item.points}}						
				</div>
				
				<div class="col-md-4">
					<h3>Abilities</h3>
					<div ng-repeat="power in item.powers">
					<label>{{power.name}}: </label> 
					{{power.description}}
					</div>
				</div>
				
			</div>
			
			<div class="row">
				<div class="col-md-12">
				<button class="btn btn-warning pull-right" ng-click="heroList.editHero(item)">Edit</button>
				</div>
			</div>
			
			
			</div>
		</div>		
</div>